<ul class="breadcrumb">
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li><a href="#">Library</a> <span class="divider">/</span></li>
<li class="active">Data</li>
</ul>
<h2>Sign in</h2>
  
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label :email,:class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password,:class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %><%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                <% end -%>
        </div>
      </div>
      
    <div class="control-group">
      <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <label for="user_remember_me" class="checkbox">
        <%= f.check_box :remember_me %>Remember me
        </label>

      <% end -%>
      <%= f.submit "Sign in",:class => 'btn' %>
    </div>
  </div>
<% end %>
      
<%= render "users/shared/links" %>